<!DOCTYPE html>
<html lang="{{ .Language }}">
  <head>
    {{ partial "links.html" . }}
    {{ partialCached "favicon.html" . }}
    {{ partial "meta.html" . }}
    <script type="text/javascript">
      (function(document) {
        var storedTheme = localStorage.getItem('theme') || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
        if (storedTheme)
            document.documentElement.setAttribute('data-theme', storedTheme)
      })(document);
    </script>
  </head>
  <body class="{{with .Site.Params.themeColor}}{{ .}}{{ end}}{{if .Site.Params.layoutReverse}} layout-reverse{{ end}}{{if .Site.Params.sidebarOverlay}} sidebar-overlay{{ end}}">
    {{ partialCached "sidebar.html" . -}}
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      {{ partialCached "header.html" . -}}
      <div class="container content">
        {{- block "main" . }}{{- end }}
      </div>
    </div>
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    <script type="text/javascript">
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
    })(document);
    </script>
    <label id="theme-toggle" class="theme-toggle">
     <span class="d-block-light d-none">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
     </span>
     <span class="d-block-dark d-none">
       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
     </span>
    </label>
    <script type="text/javascript">
      (function(document) {
        var toggle = document.getElementById("theme-toggle");
        toggle.onclick = function() {
            var currentTheme = document.documentElement.getAttribute("data-theme");
            var targetTheme = "light";

            if (currentTheme === "light") {
                targetTheme = "dark";
            }

            document.documentElement.setAttribute('data-theme', targetTheme)
            localStorage.setItem('theme', targetTheme);
        };
      })(document);
    </script>
    <footer>
      {{ partialCached "footer.html" .}}
    </footer>
  </body>
</html>